* {
	margin:  0;
	padding:  0;
	box-sizing: border-box;
} 
body {
	font-size: 18px;
	font-family: "Roboto", sans-serif;
}
/***GENERAL STYLING****/
nav,
footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
nav,
header,
footer {
	background-color: #1f2937;
}

/***NAVBAR CONTENT*/
nav {
	padding: 2rem;
}
.logo {
	font-size: 24px;
	color: #f9faf8;
}
.nav-right {
	display: flex;
	gap:  20px;
}
nav li {
	list-style-type: none;
}
nav a {
	text-decoration: none;
	color: #e5e7eb;
}
/***HERO CONTENT***/
header {
	padding: 5rem 0;
}
.header-container {
	display: flex;
	align-items: center;
	justify-content:center;
	gap:  20px;
	width: 70%;
	margin: 0 auto;
}
.hero-left {
	flex:  1.5;
}
.hero-main--heading {
	font-size: 48px;
	font-weight: 700;
	color: #f9faf8;
}
.hero-main--text {
	color: #e5e7eb;
}
.btn {
	background-color: #3882f6;
	padding: 12px 30px;
	color: #fff;
	font-weight: 700;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;
}
.hero-container--img {
	background-color: #eee;
	display: flex;
	justify-content: center;
	padding: 100px;
	flex:  1 ;
}

/****INFORMATION CONTENT****/
.info-section {
	width: 60%;
	margin: 5rem auto;
}
.info-section-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:  3rem;
}
.info-container
.info-header {
	font-size: 36px;
	font-weight: 700;
	color: #1f2937;
}
.info-containers {
	display: flex;
	align-items: center;
	justify-content: center;
	gap:  30px;
	flex: 1;
}
.info-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.info-container--box {
	border: 3px solid skyblue;
	border-radius: 10px;
	padding: 80px;
}
.info-container p {
	text-align: center;
}

/****QUOTE CONTENT***/
.quote {
	background-color: #e5e7eb;
	padding:  5rem 0;
	display: flex;
	flex-direction: column;
}
.quote-text {
	font-size: 36px;
	font-weight: lighter;
	color: #1f2937;
	width: 60%;
	margin: 0 auto;
}
.author {
	display: flex;
	justify-content: flex-end;
	width: 78%;
}
/***CTA Section****/
.cta-section {
	width: 70%;
	margin: 5rem auto;
}
.cta-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 40px 20px;
	background-color: #3882f6;
	border-radius: 10px;
}
.cta-text {
	display: flex;
	flex-direction: column;
	color:  #fff;
}
.btn-cta {
	border: 1px solid #fff;
}
/***FOOTER CONTENT****/
footer {
	padding: 2rem;
	color: #fff;
}
footer h4 {
	font-weight: 100;
}
/***MERDIA QUERIES*****/
@media all and (max-width: 1000px) {
	nav {
		padding: 1rem;
	}
	.header-container,
	.info-section,
	.quote-text,
	.cta-section {
		width: 90%;
	}

	.info-containers {
		flex-flow: wrap;
	}
}
@media all and (max-width: 600px) {
	.header-container {
		flex-direction: column-reverse;
	}	
	.cta-container {
		flex-direction: column;
	}
	.btn-cta {
		width: 90%;
	}

}